body
{
    margin: 0;
}
.content-wrapper
{
    float: left;
    width: 100%;
}


.panel
{
    float: left;
    display: block;
    height: 100%;
    position: absolute;
}


#body-area
{
    left: 0;
    right: 0;
    background-color: beige;
}

#filter-area
{
    width: 0;
    background: #FDE95E;
    right: 0;
}


.show-hide
{
    position: absolute;
    height: 16px;
    width:16px;
    cursor: pointer;
    cursor: hand;
}

#show-filter
{
    top: 5px;
    right: 5px;
    background-image: url('../images/arrow_l.png');
    background-repeat: no-repeat;
}

#hide-filter
{
    top: 5px;
    left: 5px;
    background-image: url('../images/arrow_r.png');
    background-repeat: no-repeat;
    display: none;
}




